<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="square twitch" style="margin-bottom: 50px;">
                <span class="one" ></span>
                <span class="two"></span>
                <span class="three"></span>
                <div class="circle">
                    <h2 class="DrugRadar"> YasirMotors
               
                    </h2>
                    <p>Welcome to Yasir Motors Developed in 2023</p>
                </div>
            </div>

            <a href="/adminsystem/dashboard" class="button" target="_parent">
                    <span class="actual-text">&nbsp;Dashboard&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Dashboard&nbsp;</span>
            </a>
        </div>
    </div>
  <script src="/js/admin.js"></script>
</body>


</html>